* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 18px;
}

body {
  background: linear-gradient(
      0deg,
      rgba(34, 193, 195, 1) 0%,
      rgba(253, 187, 45, 1) 100%
    )
    no-repeat;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App > * {
  margin: 1em;
  font-size: 1.4rem;
}

h1 {
  font-size: 1.5rem;
}

input[type="date"] {
  border: 4px solid #7768ae;
  border-radius: 12px;
  width: 60%;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

#output {
  font-size: 1.4rem;
  color: #4b4edd;
  font-weight: bolder;
}

button {
  padding: 0.4rem 0.8rem;
  background-color: #4b4edd;
  border: none;
  color: #ffffff;
  box-shadow: 10px 3px 2px 0px #000000;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

@media only screen and (max-width: 430px) {
  #output {
    font-size: 0.9em;
  }
}
